<div id="header">
  <div class="d-flex flex-column">
    <div class="info-section">
      <img id="profileImg" src="https://media-private.canva.com/JmzpI/MAE2qNJmzpI/1/tl.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20230720%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230720T175357Z&X-Amz-Expires=97597&X-Amz-Signature=aa07bbd98fae369c03b8609190d883cb95670e5c8f9243000f6a2c1756565690&X-Amz-SignedHeaders=host&response-expires=Fri%2C%2021%20Jul%202023%2021%3A00%3A34%20GMT"
      class="img-fluid rounded-circle border border-light border-1 opacity-75 " alt="profile-picture" >
      <h2 class="text-name">
        João Monteiro
      </h2>
      <div class="circle">
        <a href="https://www.linkedin.com/in/joao-pereira-monteiro3/">
        <i class="fa-brands fa-linkedin-in" ></i>
        </a>
      </div>
    </div>
    <div class="main-container" >
      <div class="house" >
          <a href="home">
          <i class="fa-solid fa-house"></i>
        </a>
        </div>
             <span>Home</span>
      <div class="about">
        <i class="fa-solid fa-user"></i>
      </div>
          <span>About</span>
      <div class="resume">
        <i class="fa-solid fa-file"></i>
      </div>
          <span>Resume</span>
      <div class="skills">
        <i class="fa-solid fa-list"></i>
      </div>
          <span>Skills</span>
      <div class="portfolio">
        <i class="fa-solid fa-folder-open"></i>
      </div>
        <span>Portfolio</span>
      <div class="services">
        <i class="fa-solid fa-download"></i>
      </div>
          <span>Services</span>
      <div class="contact">
        <i class="fa-regular fa-id-card"></i>
      </div>
          <span>Contact</span>
    </div>
  </div>
  <footer id="footer">
    <div class="footer-container">
      Designed by João Monteiro
    </div>
  </footer>
</div>
